:root {
    --body-primary-color: #fff;
    --body-secondary-color: #00E6FF;
    --style-color: #e93d3d;
    --text-color: #000;
    --border-color: #000;

    /* secondary colors */

    --webkit-color: #1ae5ec;
    --hover-color: #f86969;

    --mono-font: monospace;
}

.theme-two {
    --body-primary-color: #2b2b2b;
    --body-secondary-color: #000;
    --style-color: #0d3e5a;
    --text-color: #fff;
    --border-color: #fff;

    /* secondary colors */

    --webkit-color: #e76418;
    --hover-color: #1872a7;

    --mono-font: Georgia;
}

.theme-three {
    --body-primary-color: #00CD9A;
    --body-secondary-color: #00E6FF;
    --style-color: #140841;
    --text-color: #ffffff;
    --border-color: #7F325D;

    /* secondary colors */

    --webkit-color: #e76418;
    --hover-color: #00675F;
}

.theme-four {
    --body-primary-color: #FF00DE;
    --body-secondary-color: #00E6FF;
    --style-color: #3cff00;
    --text-color: #52424E;
    --border-color: #007C4F;

    /* secondary colors */

    --webkit-color: #790067;
    --hover-color: #B8A6B3;

}

.theme-five {
    --body-primary-color: #870000;
    --body-secondary-color: #190A05;
    --style-color: #0026ff;
    --text-color: #ffffff;
    --border-color: #083625;

    /* secondary colors */

    --webkit-color: #790067;
    --hover-color: #B8A6B3;

}

.theme-six {
    --body-primary-color: #ff6e7f;
    --body-secondary-color: #bfe9ff;
    --style-color: #F9F871;
    --text-color: #300E68;
    --border-color: #FFFADE;

    /* secondary colors */

    --webkit-color: #790067;
    --hover-color: #B8A6B3;

}


/* ------Styling Starts Here------ */

/* Global Styling------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 300;
}

body {
    background-image: linear-gradient(to bottom, var(--body-secondary-color), var(--body-primary-color));
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

img {
    max-width: 250px;
    border-radius: 50%;
    /* display: none; */
}

.fa-solid {
    cursor: pointer;
    transition: 0.2s linear;
}

.fa-solid:hover {
    color: #e93d3d;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

/* ------------Main Styling Starts Here----------- */

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

/* ----Cover Art and Info Styling----- */
.main-box {
    background-image: linear-gradient(var(--body-primary-color), var(--body-secondary-color));
    padding: 10px;
    max-width: 450px;
    height: 100vh;
    margin-inline: auto;
}

main {
    position: relative;
}

.art-style {
    position: relative;
    outline: 1px solid rgb(0, 0, 0);

}

.art-sec,
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-src {
    background-image: url(/Source/CoverArt/Lake.jpg);
    opacity: 0.6;
    background-size: cover;
    background-position: center;
    max-width: 450px;
    height: 320px;
}

.art-sec {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    transition: 0.3s linear;
}

.circle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: #fff;
}

/* ----Cover Art Animation--- */

img {
    animation: animeRotate 10s linear infinite;
    animation-play-state: paused;
}


@keyframes animeRotate {
    100% {
        transform: rotate(360deg);
    }
}

.playlist-number {
    width: 75px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 5px;
    padding: 0.25rem 0.6rem;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    outline: 2px solid #000;
    display: flex;
    justify-content: center;
}

/* -------PlayList Styling--------- */

.playlist {

    background-image: linear-gradient(var(--body-primary-color), var(--body-secondary-color));
    position: fixed;
    padding: 0 1em 1em 1em;
    box-shadow: 0 0 10px #fff;
    margin-inline: auto;
    font-family: 'ubuntu', sans-serif;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    max-width: 450px;
    transform-origin: bottom;
    border-radius: 1em 1em 0 0;
    z-index: 100;
    transform: translateY(85%);
    transition: 0.3s linear;
}

.playlist.reveal {
    transform: translateY(0);
}

.playlist h1 {
    font-family: 'ubuntu';
    margin-block: 0.5em;
    font-weight: 800;
    text-align: center;
}

.playlist h2 {
    font-size: 1.1rem;
    transition: 0.3s linear;
    cursor: pointer;
    margin-block: 1em;
    padding: 0.2em;

}

.song-list {
    transition: 0.3s ease-in;
    position: relative;
}

#song-items {
    transition: 0.3s ease-in;
    transform-origin: bottom;
}


.song-playing.active {
    transform: scale(1.1);
    color: #e93d3d;
}


.down-section {
    display: flex;
    flex-direction: column-reverse;
}

/* --------Volume Bar Styling Here------ */
.vol-bar {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: none; */
}

.vol-bar input {
    margin-left: 1rem;
}

/* -------Current Song Info, Music Control and Progressbar Styling Here------- */


.progress .progress-bar {
    width: 95%;
    margin-inline: auto;
}

.music-info {
    display: flex;
    flex-direction: column-reverse;
    margin: 1em 0 0 0;
}

.music-info>* {
    margin-bottom: 1em;
}

.music-controller {
    min-width: 250px;
    width: 35%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.music-controller i:nth-child(2) {
    width: 40px;
    display: flex;
    justify-content: center;
}

.music-info span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-info span h1 {
    font-size: 1.2rem;
}

.track-info {
    width: 200px;
    width: 100%;
    text-align: center;
}

.fa-stop {
    display: none;
}

.seperator {
    display: none;
}

/* ------Progress Bar And Volume Bar Styling Starts Here---- */

input[type='range'] {

    -webkit-appearance: none;
    border-radius: 5px;
    height: 2px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: goldenrod;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: goldenrod;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    cursor: pointer;
}

.theme-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--body-secondary-color);
    max-width: 400px;
    gap: 0.25em;
    padding: 0.50em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 200;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 0.3s ease-in-out;
}

#theme-toggle {
    cursor: pointer;
}

.theme-box.switcher {
    transform: scale(1, 1);
}

button {
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 1rem;
}

button:nth-child(1) {
    background-image: linear-gradient(#fff, #00E6FF);
    color: var(--text-color);
}

button:nth-child(2) {
    background-image: linear-gradient(#2b2b2b, #000);
    color: var(--text-color);
}

button:nth-child(3) {
    background-image: linear-gradient(#00CD9A, #00e6ff);
    color: var(--text-color);
}

button:nth-child(4) {
    background-image: linear-gradient(#FF00DE, #00e6ff);
    color: var(--text-color);
}

button:nth-child(5) {
    background-image: linear-gradient(#870000, #190a05);
    color: var(--text-color);
}

button:nth-child(6) {
    background-image: linear-gradient(#ff6e7f,#bfe9ff);
    color: var(--text-color);
}

/* ----------------Large Device Styling Starts here---------------------> */

@media (min-width:50em) {

    /* Body Container styling in bigger Devices------> */

    .main-box {
        max-width: 900px;
        height: fit-content;
        padding: 10px 30px;
    }

    /* cover art and playlist section styling */
    .main-plate {
        display: flex;
        justify-content: space-between;
        outline: 1px solid rgb(0, 0, 0);
    }

    .art-style {
        position: relative;
        outline: none;

    }

    .player-src {
        width: 380px;
        height: 380px;
    }

    .art-sec {
        width: 300px;
        height: 300px;
    }

    .circle {
        width: 290px;
        height: 290px;
    }

    img {
        max-width: 290px;
        height: 290px;
    }

    /* -----Playlist Section styling----- */
    .playlist {
        position: relative;
        transform: translateY(0);
        border-radius: 0;
        width: fit-content;
        background-image: inherit;
        box-shadow: none;
        margin-left: auto;
        margin-right: 0;
    }

    .playlist h1 {
        text-align: left;
    }

    .song-playing:hover {
        transform: scale(1.1);
        color: #e93d3d;
        ;
    }

    /* volume-bar, music controller and progress bar status-------> */

    .down-section {
        display: block;
    }

    .vol-bar {
        margin: 1em 0;
        width: 45.5%;
        justify-content: space-between;
    }

    .music-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1em 0 0 0;
    }

    .music-controller {
        margin-inline: 0;

    }

    .track-info {
        width: 200px;
        text-align: left;
    }

    .music-info span {
        width: 180px;
        justify-content: center;
    }

    .progress .progress-bar {
        width: 100%;
    }

    .fa-stop {
        display: block;
    }

    .seperator {
        display: block;
    }

    .track-info h1 {
        font-weight: 400;
    }

    .music-info span h1 {
        font-size: 1.3rem;
    }
}